.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Inter";
}

.login_form > h1{
    font-size: 35px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    letter-spacing: -1px;
}

.login_form > input{
    min-width: 300px;
    padding: 4px 0px;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    background: white;
    border: 1px solid rgba(0,0,0,0.24);    
    font-size: 15px;
    font-family: "Inter";
    border-radius: 2px;
}

.login_form{
    display: flex;
    flex-direction: column;
}

.submit_btn{
    padding:  12px 30px;
    margin-top: 10px;
    background: black;
    border: none;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 3px;
}